* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    width: 70%;
    margin: auto;
    height: 90vh;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    gap: 40px;
    perspective: 300px;
    width: 92%;
    margin: auto;
    cursor: pointer;
    position: relative;

}

img {
    width: 100%;
    height: 100%;
}

.middle {
    transform: translateZ(100px);
    z-index: 11111;
    background-color: oange;

}

.animate {
    animation-name: fading;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
}


.left,
.right {
    filter: blur(3px);
}



.next,
.prev {
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(133, 93, 88);
    width: 50px;
    height: 50px;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.prev {
    position: absolute;
    top: 50%;
    left: -70px;

}

.next {
    position: absolute;
    top: 50%;
    right: -70px;
}

.dots {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    bottom: -15px;

}


.dots div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(194, 194, 194);
    margin-right: 20px;
}

.dots div:hover {
    background-color: rgb(51, 50, 50);
    cursor: pointer;
}

.dots .active {
    background-color: rgb(51, 50, 50);
}

@keyframes fading {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}


@media(max-width:576px) {

    .dots {
        width: 80%;
    }

    .dots div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .middle {
        transform: translateZ(228px);
        z-index: 11111;
        background-color: oange;

    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .dots {
        width: 50%;
    }

    .dots div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .middle {
        transform: translateZ(222px);
        z-index: 11111;
        background-color: oange;

    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .dots {
        width: 50%;
    }
}